import os

work_uri = 's3://my-bucket/emrpy/'
ec2_keyname = 'my-key'
log_uri = 's3://my-bucket/log/'
ami_version = '3.3.1'
install_pig_script = 's3://my-bucket/install-pig.sh'
pig_version = '0.13.0'
pem_path = '/home/me/.ssh/my.pem'
name_prefix = os.environ['USER']
